name: example
description: A new Flutter project.

version: 1.0.0+1

publish_to: none

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  video_trimmer:
    path: ../

  image_picker: ^0.7.5+3
  video_player: ^2.1.4
  file_picker: ^3.0.2+2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
