* @flpstudio/growin-mobile

.gitattributes @flpstudio/growin-mobile-core
.gitignore @flpstudio/growin-mobile-core
CODEOWNERS @flpstudio/growin-mobile-core

.metadata @flpstudio/growin-mobile-core
pubspec.yaml @flpstudio/growin-mobile-core
pubspec.lock @flpstudio/growin-mobile-core
analysis_options.yaml @flpstudio/growin-mobile-core
build.yaml @flpstudio/growin-mobile-core
dart_test.yaml @flpstudio/growin-mobile-core
devtools_options.yaml @flpstudio/growin-mobile-core
dcm_baseline.json @flpstudio/growin-mobile-core
dcm_global.yaml @flpstudio/growin-mobile-core

mason.yaml @flpstudio/growin-mobile-core
/bricks/ @flpstudio/growin-mobile-core

.rufo @flpstudio/growin-mobile-core
package-lock.json @flpstudio/growin-mobile-core
package.json @flpstudio/growin-mobile-core
renovate.json @flpstudio/growin-mobile-core
Gemfile @flpstudio/growin-mobile-core
Gemfile.lock @flpstudio/growin-mobile-core
/.github/ @flpstudio/growin-mobile-core
/scripts/ @flpstudio/growin-mobile-core
/fastlane/ @flpstudio/growin-mobile-core

/android/fastlane/ @flpstudio/growin-mobile-core
/android/Gemfile @flpstudio/growin-mobile-core
/android/Gemfile.lock @flpstudio/growin-mobile-core
/android/app/google-services.json @flpstudio/growin-mobile-core

/ios/fastlane/ @flpstudio/growin-mobile-core
/ios/Gemfile @flpstudio/growin-mobile-core
/ios/Gemfile.lock @flpstudio/growin-mobile-core
/ios/Podfile @flpstudio/growin-mobile-core
/ios/Podfile.lock @flpstudio/growin-mobile-core
/ios/export_options @flpstudio/growin-mobile-core
/ios/config @flpstudio/growin-mobile-core
/ios/firebase_app_id_file.json @flpstudio/growin-mobile-core

/docs/ @flpstudio/growin-mobile-core
README.md/ @flpstudio/growin-mobile-core
